<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .image_div {
        float: left;
        width: 50%;
      }

      .info_div {
        float: right;
        width: 50%;
      }
    </style>
    <meta http-equiv="refresh" content="10">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
